.signupParentDiv {
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .signupParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  
  .signupParentDiv.loading {
    position: relative;
  }
  
  .signupParentDiv.loading .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
  }
  
  @keyframes spinner {
    to { transform: rotate(360deg); }
  }
  